@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);

.wrapper {
    padding: 1.5rem 3.55rem 3rem;
    box-sizing: border-box;
    
    background-color: #F5F5F5 no-repeat center center;
    background-size: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.625rem; /* 58px */
        font-weight: 400;
        letter-spacing: 0.25rem;
        height: auto;
    }
}

.authentication {
    display: flex;
    flex-direction: column;
    height: wrap;
    &__content {
        margin: 2.2rem auto;
    }
}

.form {
    width: 30.26rem; /* 484px */
    min-height: 34.85rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 3.12rem rgba(166, 166, 166, 0.7);
    &__header {
        height: 4.45rem;
        display: inline-flex;
        width: inherit;

        .tab {
            padding: 1.6rem;
            width: 50%;

            color: #444444;
            text-decoration: none;

            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.188rem;
            text-align: center;
            background: #DADADA;
            box-shadow: inset 2px -2px 10px rgba(185, 185, 185, 0.5);
        }
        .tab.right {
            border-radius: 0 0.5rem;
        }
        .tab.left {
            border-radius: 0.5rem 0;
        }
        .active{
            font-weight: 500;

            background-color: inherit;
            border-radius: inherit;
            box-shadow: inherit;
        }
        :not(.active):hover{
            background: #cacaca;
            box-shadow: inset 2px -2px 10px rgba(185, 185, 185, 0.7);
        }
    }
    &__content {
        padding: 3.42rem 1.9rem 1.9rem;
        display: flex;
        flex-direction: column;
    }
    .forgot-password {
        margin-top: 1.25rem;
        width: fit-content;
        height: fit-content;

        color: rgba(151, 151, 151, 1);
        text-decoration: none;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.438rem;
    }
    &__apply-button {
        margin: 1.875rem auto 0;
    }
    .registration {
        margin: 2.5rem auto;

        color: #979797;
        text-decoration: none;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.438rem;
    }
    &__footer {
        color: rgba(151, 151, 151, 1);

        text-align: center; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 0.86rem;
        line-height: 23px;
        line-height: 1.438rem;
        .policy, .rules {
            color: rgba(151, 151, 151, 1);
        }
    }
}

.form-group {
    display: grid;
    grid-gap: 1.5rem;
    .group {
        display: flex;
        flex-direction: column;
        text-align: left;
        &__input {
            height: 3.563rem;
        
            border: 1px solid rgba(151, 151, 151, 1);
            border-radius: 10px;
        
            padding-left: 1.312rem;
            
            font-family: 'Montserrat';
            font-size: 1rem;
            font-weight: 400;
            line-height: 23px;
            line-height: 1.436rem;
            text-align: left;
        }
        &__error {
            font-family: 'Montserrat';
            font-weight: 400;
            padding: 0.5rem 0.5rem 0rem;
            font-size: 0.85rem;
        }
    }
}

.button {
    cursor: pointer;
    padding: 0.5rem 4rem;
    min-width: 43%;

    background: #ffdc2d;
    border-radius: 0.625rem;
    border-style: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.688rem;
    color: #444444;
    &:active {
        padding: 0.55rem 4rem 0.45rem;
    }
    &:hover {
        background-color: #f7cd00;
    }
}