@import '../../shared/variables.scss';

.review-modal {
    display: flex;
    flex-direction: column;

    padding: 40px 40px 20px 60px;
    min-width: 400px;
    width: 1160px;
    max-height: 72vh;
    min-height: auto;

    &-body {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        overflow-y: scroll;
        padding-right: 32px;
        padding-top: 20px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            box-sizing: border-box;
            overflow: auto;
            height: fit-content;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 98%;
                height: 28px;
                background: linear-gradient(180deg, transparent, white 95%);
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 98%;
                height: 28px;
                background: linear-gradient(0deg, transparent, white 88%);
            }
        }
        &::-webkit-scrollbar {
            width: 3px;
        }
        ::-webkit-scrollbar-track {
            margin-right: 500px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background: rgb(230, 230, 230);
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            max-height: 20%;
            background: rgb(230, 230, 230); 
        }
        
        .review {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-header {
                display: flex;
                flex-direction: row;
                gap: 20px;

                &__photo {
                    width: 3.125rem;
                    min-width: 3.125rem;
                    height: 3.125rem;
                    min-height: 3.125rem;
                }
                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 4px 0;
                    &-user-name {
                        text-decoration: none;
                        line-height: 20px;
                        font-size: 1rem;
                        color: #000000;
                    }
                }
                &__date {
                    color: $additional-text;
                    padding: 4px 0;
                }
                &__menu-icon {
                    margin: auto 20px auto auto;
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                }
            }
            &-content {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                padding: 0 4px;
            }
            &.hide {
                opacity: 0;
            }
        }
        .divider {
            border: 1px solid $border;
            height: 0;
            width: 99%;
            margin: 0 auto;
            &.hide {
                opacity: 0;
            }
        }
        .spinner-wrapper {
            margin: 0 auto;
        }
    }
    .pagination-wrapper {
        display: flex;
    }
}