.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(0,0,0,0.3);
}

.modal {
    &__content {
        z-index: 102;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 30vh;
        
        max-width: 1400px;
        overflow: hidden !important;
        
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }

    &__image-wrapper {
        position: relative;
        min-width: 800px;
        min-height: 30rem;
        max-height: 50rem;
    }
    
    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem;
        height: 2.5rem;
        background-color: white;
        &-btn {
            height: auto;
            width: 10rem;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        gap: 40px;
        
        &-divider {
            border: 1px solid #FFDD2D;
            height: 0;
            flex-grow: 1;
            margin: auto;
        }
        &-text {
            width: fit-content;
            white-space: nowrap;
            font-size: 20px;
            line-height: 24px;
        }
        .arrow-icon {
            width: 25px;
            min-width: 25px;
            &:hover {
                cursor: pointer;
                filter: brightness(90%);
            }
        }
        &.padding-right {
            padding-right: 40px;
        }
    }
}