@import '../../shared/variables.scss';

.button { 
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    background: $button;
    border-radius: 0.625rem!important;
    border-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: #444444;
    
    &:hover, &:focus {
        filter: brightness(95%);
    }
    
    &.inactive {
        cursor: auto;
        background-color: $border;
        &:hover {
            filter: none
        }
    }
    
    &.pale {
        background-color: #FFF5C2;
    }
    
    &.white {
        background-color: #FFFFFF;
        border: 1px solid $main;
    }
}